*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
src/main/res/layout-w900dp/
src/main/res/layouts/compare_file_type/layout-sw600dp/
src/main/res/layouts/compare_file_type/layout-sw720dp/
